<div class="container">
  <h1>Stupid Coaching!</h1>
  <p  class="bg-info p-1 rounded w-25">Ask your coach anything</p>
  <%# <div class="input-group"> %>
  <form class="bg-info p-3 rounded" action="answer" method="get" data-turbo="false">
    <input type="text" name="question">
    <input type="submit" class="btn btn-primary" value="Ask!">
  </form>
</div>
<%# </div> %>
